.footer {
    background-color: #040e2f;
    color: white;
    text-align: center;
    padding: 16px 0;
    margin-top: 16px;
}

.footer p {
    margin:0; 
}

.footer a {
    color: #66de89;
    font-size: 36px;
}

.footer a:hover {
    color: #aee7bf;
    font-size: 36px;
}